@import "tailwindcss";

:root {
  --background: var(--floral-white);
  --foreground: var(--prussian-blue);

  /* color palette */
  --floral-white: rgb(249, 248, 240);
  --light-ecru: rgb(222, 197, 138);
  --ecru: rgb(184, 160, 102);
  --light-ecru: rgb(255, 224, 150);
  --prussian-blue: rgb(19, 45, 63);
  --light-prussian-blue: rgb(181, 224, 255);
  --prussian-blue-80: rgb(19, 45, 63, 0.8);
  --dark-reseda-green: rgb(47, 78, 38);
  --reseda-green: rgb(102, 119, 97);
  --light-reseda-green: rgb(142, 159, 118);
  --chocolate-cosmos: rgb(100, 23, 34);
  --penn-red: rgb(149, 25, 12);

  /* backgrounds */
  --prussian-blue-circles:
    radial-gradient(
      circle at 50% 100%,
      var(--prussian-blue-80) 5%,
      var(--prussian-blue) 5% 10%,
      var(--prussian-blue-80) 10% 15%,
      var(--prussian-blue) 15% 20%,
      var(--prussian-blue-80) 20% 25%,
      var(--prussian-blue) 25% 30%,
      var(--prussian-blue-80) 30% 35%,
      var(--prussian-blue) 35% 40%,
      transparent 40%
    ),
    radial-gradient(
      circle at 100% 50%,
      var(--prussian-blue-80) 5%,
      var(--prussian-blue) 5% 10%,
      var(--prussian-blue-80) 10% 15%,
      var(--prussian-blue) 15% 20%,
      var(--prussian-blue-80) 20% 25%,
      var(--prussian-blue) 25% 30%,
      var(--prussian-blue-80) 30% 35%,
      var(--prussian-blue) 35% 40%,
      transparent 40%
    ),
    radial-gradient(
      circle at 50% 0%,
      var(--prussian-blue-80) 5%,
      var(--prussian-blue) 5% 10%,
      var(--prussian-blue-80) 10% 15%,
      var(--prussian-blue) 15% 20%,
      var(--prussian-blue-80) 20% 25%,
      var(--prussian-blue) 25% 30%,
      var(--prussian-blue-80) 30% 35%,
      var(--prussian-blue) 35% 40%,
      transparent 40%
    ),
    radial-gradient(
      circle at 0 50%,
      var(--prussian-blue-80) 5%,
      var(--prussian-blue) 5% 10%,
      var(--prussian-blue-80) 10% 15%,
      var(--prussian-blue) 15% 20%,
      var(--prussian-blue-80) 20% 25%,
      var(--prussian-blue) 25% 30%,
      var(--prussian-blue-80) 30% 35%,
      var(--prussian-blue) 35% 40%,
      transparent 40%
    );

  --floral-gradient: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.95) 0%,
    var(--floral-white) 15%,
    rgba(237, 233, 212, 0.95) 40%,
    rgba(240, 235, 210, 0.95) 85%,
    rgba(255, 255, 255, 0.9) 100%
  );

  --metallic-blue-gradient-80: linear-gradient(
    135deg,
    var(--prussian-blue) 0%,
    rgba(30, 70, 90, 1) 70%,
    rgba(28, 75, 87, 0.8) 100%
  );

  --metallic-blue-gradient: linear-gradient(
    135deg,
    var(--prussian-blue) 0%,
    rgba(30, 70, 90, 1) 70%,
    rgba(28, 75, 87, 1) 100%
  );

  --reseda-green-gradient: linear-gradient(
    135deg,
    var(--dark-reseda-green) 0%,
    rgb(60, 100, 55) 50%,
    rgb(75, 115, 65) 100%
  );

  --white-prussian-gradient: linear-gradient(
    135deg,
    #ffffff 0%,
    #f4f7fa 50%,
    #e1f3f6 100%
  );

  --oceanic-blue-gradient: linear-gradient(
    150deg,
    rgba(19, 45, 63, 1) 0%,
    rgba(33, 80, 90, 1) 60%,
    rgba(47, 100, 90, 1) 100%
  );

  --autumn-burn-gradient: linear-gradient(
    160deg,
    #f28e2c 0%,
    #eb6f00 60%,
    #b95500 100%
  );
}

body {
  background: var(--background);
  color: var(--foreground);
  box-sizing: border-box;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--floral-white); /* scrollbar track background */
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-prussian-blue);
  border-radius: 10px;
  border: 2px solid var(--floral-white); /* adds contrast edge */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--reseda-green); /* color when hovered */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--light-prussian-blue) var(--floral-white);
}
